@charset "UTF-8";

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	width: 100%;
	top: 0;
	overflow: auto;
	overflow-x: hidden;
}

/** shop메인 상단 메뉴 **/
.shopMenu{
	display: flex;
	flex-wrap: wrap;
	position: sticky;
	box-sizing: border-box;	
	top: 74px;
	z-index: 10000;
	margin-left: 1em;
}

.shopMenu-bar{
	display: flex;
	justify-content: left;
	margin: 1em;
	font-size: 14px;
}

.shopMenu-bar a{
	margin: 0 0.6em;
	cursor: pointer;
	text-decoration: none;
	color: #3c3c3c;
}

.shopMenu-bar a:active,
.shopMenu-bar a:visited{font-weight:bold}

/** 상품 detail **/
.detail-product {
	display: flex;
	flex-wrap: wrap;
}

/** 상품 설명 **/
.shopProduct{
	text-align: center;
}

.shopProduct-list{
	display: inline-block; 
	margin: 50px;
}

.shopProduct-span {
    text-align: left;
    margin-left: 3%;
    margin-top: 50px;
    width: 300px;
    position: sticky;
    top: 74px;
    z-index: 1000;
    margin-bottom: 10px;
}

.shopProduct-span button {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

.shopProduct-span .buy {
	background-color: #4caf50; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.shopProduct-span .cart {
	background-color: rgba(0, 0, 255, 0);
    color: black;
    border-color: black;
    cursor: pointer;
    border-radius: 4px;
}

.shopProduct-span p{margin-bottom:8px;}

.shopProduct-span select {
	width: 100%;
	height: 45px;
	background-color: rgba(0, 0, 255, 0);
}


/** accodion **/
* {padding:0;margin:0;}

.accodion-container {border-top:1px solid #333;}

.accodion-header {
	font-size:15px;
	font-family:'맑은 고딕','Malgun Gothic',sans-serif;
	padding:15px;
	border-bottom:1px solid #ddd;
	cursor:pointer;
	line-height:25px;
}

.accodion-header bold {font-weight:700;}

.accodion-content {
	display:none;
	padding:20px;
	border-bottom:1px solid #ddd;
	background-color:#f5f5f5;
	font-size:15px;
	font-family:'맑은 고딕','Malgun Gothic',sans-serif;
	line-height:25px;
}

.active-header {
	display:block;
	background:url('http://home.spectra.co.kr/~sas/demo/images/top_select_arrows_top.png')no-repeat right center;
}

.inactive-header {
	display:block;
	background:url('http://home.spectra.co.kr/~sas/demo/images/top_select_arrows_bottom.png')no-repeat right center;
}

.accodion-header {
    font-size: 15px;
    font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    line-height: 25px;
    position: relative; /* 부모로부터 상대 위치 설정 */
}

.accodion-header b::before {
    content: '+';
    position: absolute;
    right: 10px;
    transition: all 0.3s ease-in-out; 
    top: 11px;
    font-size: 20px;
}

.accodion-header.active-header b::before {
    transform: rotate(45deg) scale(0.8); /* 회전 및 크기 조절 */
    opacity: 0.7; /* 투명도 조절 */
    content: '-'; 
    top: 11px;
    font-size: 30px;
}

.accodion-content {
    display: none;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
    font-size: 15px;
    font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;
    line-height: 25px;
}


/** wish-list **/
#wishList-wrapper {margin-top: 15px;}

#wishList-wrapper input[type=radio]{
    display: none;
}
#wishList-wrapper label{
    font-size: 1em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#wishList-wrapper label:hover{
    text-shadow: 0 0 0 #CD1F48;
}
#wishList-wrapper label:hover ~ label{
    text-shadow: 0 0 0 #CD1F48;
}
#wishList-wrapper input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #CD1F48;
}

/** 상품 이미지 **/
.shopProduct-img {
	margin: auto;
}

#imgPoster_d, #imgDetail_d {
	width: 500px;
}


/** 리뷰 **/
.shopReview-wrapper {
	margin-top: 50px;
}

#reviewpoint {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reviewContent {
	margin-left: 40px;
}

.review-item {
   background-color: rgba(255, 255, 255, 0.2);
   padding: 15px;
   border-radius: 6px;
   width: 640px;
   box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08);
   margin-bottom: 20px;
}

#r_content {
   background-color: rgba(255, 255, 255, 0.2);
   padding: 10px;
   border-radius: 6px;
   width: 390px;
   box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08);
}

#rcontent::placeholder {
  color: white;
  opacity: 0.8;
}

#reviewinsert {
   margin: 40px 0 50px 0;
   display: flex;
}

.btn {
	text-align: center;
    display: inline-block;
    width: 44px;
    color: #080710;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #c8c8c8;
    text-decoration: none;
}

.btn:hover{
	background-color: #ddd;
}

.rcontainer {
   margin: 100px auto 40px auto;
   border: 1px solid white;
   max-width: 80%;
}

.rcontainer p {
	font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.rcontainer hr {border:3px solid #ddd;}

/* 별점 */
#reviewForm fieldset{
	margin-left: 30px ;
    display: inline-block;
    direction: rtl;
    border:0;
}
#reviewForm fieldset legend{
    text-align: right;
}
#reviewForm input[type=radio]{
    display: none;
}
#reviewForm label{
    font-size: 1.7em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#reviewForm label:hover{
    text-shadow: 0 0 0 #CD1F48;
}
#reviewForm label:hover ~ label{
    text-shadow: 0 0 0 #CD1F48;
}
#reviewForm input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #CD1F48;
}

#review-container {
	margin-left: 30px
}

